.DS_Store
.dockerignore
.editorconfig
.eslintrc.json
.gitattributes
.gitignore
.prettierignore
.pre-commit-config.yaml
/.git
/.github
/.idea
/build
/node_modules
/pages
Dockerfile
Makefile
README.md
docker-compose.yml
package-lock.json
package.json
